/* Containers */

.gridContainer {
  display: grid;
  grid-template-columns: repeat(12);
  grid-template-rows: repeat(4);
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  place-items: center;
  border-radius: .5vh;
}

.containerBlue {
  background-color: cadetblue;
  color:antiquewhite;
}

.containerBlack {
  background-color: black;
  color: whitesmoke;
}

.containerBeige {
  background-color: beige;
}
/* Sections */

.headerSection{
  display: inline-flex;
  height: fit-content;
  place-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2vw;
}

.mainSection {
  display: inline-flex;
  flex-direction: column;
  height: fit-content;
  place-items: center;
}

nav {
  display: inline-flex;
  flex-flow: row;
  flex-direction: row;
  column-gap: 15vw;
  row-gap: 1vh;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2vw;
}

/* Elements */
a {
  text-decoration: none;
}

a:visited {
  color:bisque;
}

a:hover {
  color:aqua
}


/* defaults */


.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
