/* Containers */


.gridContainer {
  display: grid;
  grid-template-columns: repeat(12 auto);
  grid-template-rows: repeat(6, auto);
  
  place-items: center;
  border-radius: .5vh;
}

.containerBlue {
  background-color: cadetblue;
  color:antiquewhite;
}

.containerBlack {
  background-color: black;
  color: whitesmoke;
  opacity: .5;
}

.containerBeige {
  background-color: beige;
}

body {
  background-color: beige;
}
/* Sections */

.headerSection{
  display: inline-flex;
  max-height:5vh;
  width: 100vw;
  place-items: center;
  justify-content: center;
  padding: 2vh;
  position: fixed;
  transition: top, .4s;
}


nav {
  display: inline-flex;
  flex-flow: row;
  flex-direction: row;
  column-gap: 15vw;
  row-gap: 1vh;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2vw;
  height:fit-content;
}

/*
@media only screen and (max-width: 650px){
  nav {
    display: flex;
    flex-direction: column;
  }
}
*/
.mainSection {
  display: inline-flex;
  flex-direction: column;
  place-items: center;
  height: 100vh;
}

.landingSection {
  display: inline-flex;
  flex-direction: column;
  place-items: center;
  height: 100vh;
  margin-top: 9vh;
}
/* Recipe Section Styling */
.recipeSection{
  display: grid;
  grid-template-columns: 45vw 45vw;
  grid-template-rows: fit-content fit-content fit-content fit-content;
  border-style: solid;
  padding:1%;
  margin: 1%;
}

.span2 {
  grid-column-start: span 2;
  overflow: wrap;
}

.recipeImg {
  width: 45vw;
}

/* Elements */
button {
  height: 6vw;
  width: 100%;
  box-shadow: 40px #282c34;
}
a {
  text-decoration: none;
}

a:visited {
  color:bisque;
}

a:hover {
  color:aqua
}




/* defaults */


.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
