
body {
  background-color: beige;
  font-family: 'Times New Roman', Times, serif;
}
/* Containers */
.gridContainer {
  display: grid;
  grid-template-rows: repeat(7);
  place-items: center;
  border-radius: .5vh;
}

.block{
  display:block;
}

.flex {
  display:flex;
  flex-direction: column;
}

.flexWrapper {
  display:flex;
  flex-wrap: wrap;
}

.containerBlue:hover{
  background-color: cadetblue;
  color:antiquewhite;
  transition: background-color 1.5s;
}

.containerBlue{
  background-color:beige;
  transition: background-color 1s;
}
.containerBlack {
  background-color: black;
  color: whitesmoke;
  opacity: .5;
}

.containerBeige {
  background-color: beige;
  color: black;
}

/* Sections */

.headerSection{
  display: inline-flex;
  max-height:5vh;
  width: 100vw;
  place-items: center;
  justify-content: center;
  padding: 2vh;
  position: fixed;
  transition: top, .4s;
}


nav > ul {
  display: inline-flex;
  flex-flow: row;
  flex-direction: row;
  column-gap: 15vw;
  row-gap: 1vh;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2vw;
  height:fit-content;
}

nav > ul > li {
  list-style: none;
}

.mainSection {
  display: inline-flex;
  flex-direction: column;
  place-items: center;
  height: fit-content;
  width:100vw;
  padding-top: 7vh;
}

.landingSection {
  height: 91vh;
  margin-top: 9vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". area3 area3 ."
    ". area1 area1 ."
    ". area2 area2 . "
  ;
  gap: 4vh;
  margin-left: 2vw;
  margin-right: 2vw;
  place-items: center;
}

.headshot {
  object-fit:cover;
  height: 170px;
  width: 170px;
  border-radius: 100%;
  object-fit:cover;
  grid-area: area3;
  padding: 10px;
}

.grid1-6 {
  grid-area: area1;
  align-items: center;
}

.grid7-12 {
  grid-area: area2;
}

/* Recipe Section Styling */
.recipeSection{
  display: grid;
  grid-template-columns: 45vw 45vw;
  grid-template-rows: fit-content fit-content fit-content fit-content;
  border-style: solid;
  padding:1%;
  margin: 1%;
}

.span2 {
  grid-column-start: span 2;
  overflow: wrap;
}

.recipeImg {
  width: 45vw;
}

/* Elements */


button {
  height: 6vw;
  width: 100%;
  box-shadow: 40px #282c34;
}
a {
  text-decoration: none;
}

a:visited {
  color:bisque;
}

a:hover {
  color:aqua
}

.certContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:5vw;
  height:fit-content
}

.certs {
  max-width: 70vw;
  min-width: 30vw;
  flex-shrink: 4;
  flex-basis:1%;
  padding: 10px;
  transition: flex-grow 1s ease-in, flex-basis 1s;
}

.certs:hover {
flex-grow: 2;
flex-basis: 30%;

}


/* defaults */


.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
